.timeTracker {
    width: 30px;
    height: 60px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.timeTracker:first-child {
    border-left: 1px solid black;
}

.bottomSpace > div {
    margin-bottom: 30px;
}

.current-time {
    background-color: rgb(63, 177, 34);
}